
.title{
	font-size:}
h1{
	font-family: : chalkduster;
}
ul{list-style-type: none;}
li{display: inline;}
.GAME{
	font-size:50px;
}

.GAME {
	border: 1px black;
	height:1px
	display:direction;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

div{
	border:dashed white;
	background-color: white;
}
body{

  background: url("back1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

