body{

  background: url("IM.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#button {
    background-color:purple; 
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

h1{
	border: red;
	color: yellow;
background:darkblue;
}

header{
	font-size: 50px;
	color: darkred;
	
}

ul{
	font-size: 25px;
}

.title {
	list-style: none;
	margin-bottom: 20px;
	border-left: 6px solid green;
    background-color: lightgrey;
}
.titles{
	list-style: none;
	margin-bottom: 20px;
	border-left: 6px solid blue;
    background-color: lightgrey;
}
.title2{
	list-style: none;
	margin-bottom: 20px;
	border-left: 6px solid orange;
    background-color: lightgrey;
}
p{
	font-size: 25px;
}

div{
    border: dashed white;
    background-color:white;
}

.Contact{
	list-style: none;
	margin-bottom: 20px;
	border-left: 6px solid pink;
    background-color: lightgrey;
}